**/Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
build-aux/
configure
**/Makefile
config.h
config.log
config.status
src/**/.deps/
stamp-h1
src/dtq
build/
build-aux/
m4/
.dirstamp
src/**/*.o
*.tar.gz
*.tar.xz
*~
.settings/language.settings.xml
.project
.cproject
